<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AdminLTE - Layout</title>

    <!-- Font Awesome (CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4RhisR5Gz5SZcZZ+lG6Y5n9O+V40Yk5KGVp+PBk5czZz7sRKqzZo4PMMYwC8v+YxjKw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap 4 (CDN) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />

    <!-- AdminLTE CSS (CDN) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        @Html.Partial("_AdminHeader")

        <!-- Sidebar -->
        @Html.Partial("_AdminSidebar")

        <!-- Content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>

        <!-- Footer -->
        @Html.Partial("_AdminFooter")
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
</body>
</html>
